body{
  background- color:#697A3E
  
}

hi{
  text-transform: uppercase;
    text-align: center; 
   backgroun-color:aquamarine;
    color:#3F9446;
  font-family:Arial,"Arial Black","Arial Narrow","Arial Rounded MT Bold";
}
    
